.filterForm{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  height: max-content;
  width: 50%;
  padding: 20px;

  &__search{
    width: 80%;
  }

  input{
    color: white;
  }

  label {
    color: white;
  }

  fieldset{
    border-color: white;
  }

  &__button{
    height: 56px;
  }

  &__button:disabled{
    border-color: gray !important;
    color: gray !important;
  }
}