.alphabet{
  margin-top: 100px;

  &__list{
    margin-bottom: 50px;
  }

  &__letter{
    cursor: pointer;
    margin-right: 5px;
    font-size: 30px;
    padding: 1px 6px;
    border-radius: 10px;
    transition: .3s linear;
    text-align: center;

    &:hover{
      color: black;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__mealsList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 10px;
  }

  &__letter.active{
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
  }

  nav{
    margin: 30px auto;
    display: inline-block;
  }

  .Mui-selected{
    background-color: gray !important;
  }

  .MuiPaginationItem-root{
    color: white !important;
  }

  button:hover{
    background-color: gray !important;
  }
}


