.latestRecipes {
  margin-bottom: 200px;

  &__title {
    padding: 30px;
    font-size: 30px;
    scroll-margin-top: 5rem;
  }

  &__text {
    margin-bottom: 50px;
    font-size: 22px;
  }

  &__list {
    margin: 0 auto;
  }

  .slick-arrow.slick-prev {
    left: 32px !important;
    top: 150px !important;
    z-index: 20;
  }

  .slick-arrow.slick-next {
    right: 32px !important;
    top: 150px !important;
  }

  .mealCard {
    margin: 0 10px;
  }

}