.categoryCard {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: left;
  padding: 50px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  transition: 0.3s linear;
  background: url("../../assets/img/thema-main.jpg") center top no-repeat;
  height: max-content;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.94) 0 0  30px;
    .categoryCard__title{
      padding-bottom: 7px;
    }
  }

  &__image {
    width: 100%;

    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: .3s linear;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__title {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 7px;
    padding-bottom: 293px;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 5px;
    transition: .3s linear;
  }

  &__description {
    color: white;
    padding: 5px;
  }

}