.recipeCategory {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 50px;
  text-align: left;
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  height: 365px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  transition: 0.3s linear;
  background: url("../../assets/img/thema-main.jpg") center top no-repeat;


  &:hover{
    .recipeCategory__image img{
      transform: scale(1.1);
    }
  }

  &__image {
    width: 100%;

    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: .3s linear;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__title {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    width: 100%;
    text-align: center;
    color: white;
  }

  &__description {
    color: white;
    padding: 5px;
  }

}