.header{
  height: 85px;
  background-color: black;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 30;

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 auto;
  }

  &__logo{
    width: 150px;
    height: auto;
    cursor: pointer;
    margin-left: -14px;
      & img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
  }

  nav{
    display: flex;
    gap: 20px;
  }
}