.category {
  &__item {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 3px;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      .category__info{
        color: white;
      }
    }
  }

  &__info {
    color: gray;
    padding: 2px 0;
    font-size: 18px;
    transition: .3s linear;
  }

  &__info.active {
    color: white;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
  }

  &__link{
    display: block;
    width: 100%;
  }
}