* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  background-size: cover;
  scroll-behavior: smooth;
  background-color: black;
  color: gray;
}

body{

}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.hoverLink{
  color: gray;
  position: relative;
  transition: .3s linear;
  &:hover{
    color: white;
    &::after{
      width: 100%;
      left: 0;
    }
  }
  &::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: white;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .3s linear;
  }
}
.hoverLink.active{
  color: white;
}

img {
  display: inline-block;
}

button{
  border: 1px solid white !important;
  color: white !important;
}

.App {
  padding-top: 100px;
  text-align: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100vw;
  max-width: 1450px;
  padding: 20px 50px;
  margin: 0 auto;
}
