* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  background-size: cover;
  background-color: rgba(black, 0.9);
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  height: max-content;
}

.container {
  max-width: 1200px;
  padding: 20px 50px;
  margin: 0 auto;
}
