.homePage{
  margin-top: 85px;
  &__title{
    margin-bottom: 30px;
    padding: 30px;
    scroll-margin-top: 5rem;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
  }

}